/* Additional CSS properties */
h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .invalid-feedback {
    color: red;
    display: none;
  }
  
  .form-control.is-invalid {
    border-color: red;
  }
  
  .btn-primary {
    width: 100%;
  }
  label{
    font-weight: 600;
    color:aliceblue;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(219, 231, 241,.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .signup{
    background-image: url(../../assets/Images/imageslide2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;

  }
  input{
    background-color: transparent;
  }
  #roles{
    background-color: transparent;
  }